@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
   font-family: Roboto, sans-serif;
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
}

/* HEADER SECTION */

.header-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: 0 auto;
}


.header-row {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.header-logo {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.header-links {
   font-size: 18px;
   display: flex;
   color: #E5E7EB;
}


.header-links > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header-content { 
    margin: 70px 0;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

.header-content-text {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    gap: 12px;
}

.header-content-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-content-subtitle {
    font-size: 20px;
    color: #E5E7EB;
}

.header-button > button {
    border: 0;
    background-color: #3882F6;
    font-size: 15px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 7px 29px;
    border-radius: 8px;
}

.header-image {
    display: flex;
}

#rac {
    width: 480px;
    height: auto;
    border: 3px solid white;
}

/* MAIN SECTION*/

.main-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1100px;
    margin: 0 auto;
}

.main-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px;
}

.main-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    max-width: 150px;
    height: auto;
}  

.card-text {
    text-align: center;
}

.flower {
    width: 150px;
    height: auto;
    border: 3px solid #1F2937;
    border-radius: 10px;
    box-sizing: border-box;
}

/* QUOTE SECTION */

.quote-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin: 0 auto;
    gap: 12px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: light;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
    font-weight: bold;
}

/* CTA SECTION */

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    background-color: white;
}

.cta-box {
    box-sizing: border-box;
    display: flex;  
    width: 1100px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 60px 100px;
}

.cta-box-content {
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.cta-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-button > button {
    border: 3px solid #F9FAF8;
    background-color: #3882F6;
    font-size: 15px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 7px 29px;
    border-radius: 8px;
}

.cta-text p:nth-child(1) {
    font-size: 22px;
    color:#F9FAF8;
    font-weight: bold;
    margin: 0;
}

.cta-text p:nth-child(2) {
    color:#F9FAF8;
    margin: 0;
}

/* FOOTER SECTION */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937 ;
}

.footer-text {
    color: #F9FAF8;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}


